<create_file path="/home/ubuntu/repos/LMS-Dashboard/src/app/components/details/enrolled-detail/enrolled-detail.component.ts">
import { Component } from '@angular/core';

@Component({
  selector: 'app-enrolled-detail',
  templateUrl: './enrolled-detail.component.html',
  styleUrls: ['./enrolled-detail.component.scss']
})
export class EnrolledDetailComponent { }
