.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* Use the gap property instead of margin on items for spacing */
    gap: 20px; /* This adds 20px of space between rows and columns */
}

.flex-item {
    /* Since the gap is handled by the container, you can use 50% */
    flex-basis: calc(50% - 10px); /* 10px is half of the 20px gap */
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}
* {
    color: rgb(51, 65, 85);
    letter-spacing: 0.02em;
}
.centered-box {
    /* 1. Positioning */
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(209, 213, 219, 0.5490196078);
    color: white;
    text-align: center;
    display: flex
;
    line-height: 100px;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }