<header class="header">
  <div class="header-left">
    <div class="logo">
      <span class="logo-text">LMS</span>
    </div>
    <nav class="main-nav">
      <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
      <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">Dashboard</a>
      <a routerLink="/search" class="nav-link" routerLinkActive="active">Search</a>
      <a routerLink="/support" class="nav-link" routerLinkActive="active">Support</a>
      <a routerLink="/lndAdmin" class="nav-link" routerLinkActive="active">L&D Admin</a>
      <a routerLink="/roAdmin" class="nav-link" routerLinkActive="active">RO Dashboard</a>
     
    </nav>
  </div>
  <div class="header-right">
    <!-- <div class="search-container">
      <input type="text" placeholder="Search courses..." class="search-input">
      <i class="search-icon">🔍</i>
    </div>
    <div class="notifications">
      <i class="notification-icon">🔔</i>
    </div> -->
    <div class="profile">
      <!-- <img src="assets/images/profile.jpg" alt="Profile" class="profile-image"> -->
    </div>
  </div>
</header>