<header class="header">
  <div class="header-left">
    <div class="logo">
      <span class="logo-text">LMS</span>
    </div>
    <nav class="main-nav">
      <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
      <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">Dashboard</a>
      <a routerLink="/search" class="nav-link" routerLinkActive="active">Search</a>
      <a routerLink="/support" class="nav-link" routerLinkActive="active">Support</a>
      <a *ngIf="showLndAdmin" routerLink="/lndAdmin" class="nav-link" routerLinkActive="active">L&D Admin</a>
      <a *ngIf="showRODashboard" routerLink="/roAdmin" class="nav-link" routerLinkActive="active">RO/PM Dashboard</a>
     
    </nav>
  </div>
  <div class="header-right">
    <!-- <div class="search-container">
      <input type="text" placeholder="Search courses..." class="search-input">
      <i class="search-icon">🔍</i>
    </div>
    <div class="notifications">
      <i class="notification-icon">🔔</i>
    </div> -->
    <div class="profile" *ngIf="user">
      <div class="user-avatar">
        {{ (user?.userName || user?.name || user?.email || '') | slice:0:1 | uppercase }}
      </div>
      <span class="user-name">{{ user?.userName || user?.name || user?.email }}</span>
      <button class="logout-btn" (click)="logout.emit()">Logout</button>
    </div>
  </div>
</header>
