<create_file path="/home/ubuntu/repos/LMS-Dashboard/src/app/components/details/hours-detail/hours-detail.component.ts">
import { Component } from '@angular/core';

@Component({
  selector: 'app-hours-detail',
  templateUrl: './hours-detail.component.html',
  styleUrls: ['./hours-detail.component.scss']
})
export class HoursDetailComponent { }
