<div class="">
  <div class="header">
    <!-- <button class="back-button" (click)="goBack()">
      ← Back to Courses
    </button> -->
    <h1 *ngIf="course">{{ course.title }}</h1>
  </div>

  <div style="display: flex;">
    <div style="width: 70vw; padding: 20px; display: flex;
    flex-direction: column" class="content" *ngIf="!isLoading && course">
      <!-- <app-video-player
        [videoUrl]="
          course.lmsTrainingDetails[0].videoUrl || course.lmsTrainingDetails[0].trainingLink
        "
        [courseId]="course.trainingId"
        [lessonId]="course.lmsTrainingDetails[0].moduleId"
        [course]="course"
      >
      </app-video-player> -->
      <app-video-player
        [videoUrl]="selectedModule.videoUrl || selectedModule.trainingLink"
        [courseId]="course.trainingId"
        [lessonId]="selectedModule.moduleId"
        [course]="course"
        [enrollmentMapping]="enrollmentMapping"
      >
      </app-video-player>

      <div class="course-info">
        <h2>{{ course.title }}</h2>
        <p *ngIf="course.description">{{ course.description }}</p>
        <div class="meta">
          <span class="instructor">Instructor: {{ course.instructorName }}</span>
          <span class="duration">Duration: {{ course.durationMinutes }} minutes</span>
          <span class="category">Category: {{ course.category }}</span>
        </div>
      </div>
    </div>
    <div class="right" style="width: 30vw">
      <ul style="list-style: none">
        @for(item of playCourseData?.lmsTrainingDetails; track item; let i = $index) {
        <li (click)="moduleSelected(item, i)"
          style="margin: 5px 10px; padding: 10px 10px; border-bottom: 1px solid var(--gray-300); color: #292b2d"
          class="{{
            item.moduleProgressPercentage === 100 || i === 0 ? 'color-active' : 'color-active'
          }} {{item.moduleId === selectedModule.moduleId ? 'selected-module' : ''}}"
        >
          Module {{ i + 1 + ':  ' }} {{ item.details }}
        </li>
        }
      </ul>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">
    <div class="spinner"></div>
    <p>Loading course...</p>
  </div>
</div>
