<div
  style="
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px 43px;
  "
>
  <p-card class="card-content-margin-0 card-1" (click)="selectCard('Completed Course')">
    <div style="display: flex; align-items: center">
      <div style="padding: 15px 15px 15px 0px">
        <i class="pi pi-check-circle" style="font-size: 20px; color: var(--green-700)"></i>
      </div>
      <div
        style="display: flex; flex-direction: column; justify-content: space-around; height: 60px"
      >
        <div style="font-size: 14px">Completed Course</div>
        <div style="font-size: 24px; color: var(--text-color); font-weight: bold">{{summary.completedCourse}}</div>
      </div>
    </div>
  </p-card>
  <p-card class="card-content-margin-0 card-1" (click)="selectCard('Enrolled Course')">
    <div style="display: flex; align-items: center">
      <div style="padding: 15px 15px 15px 0px">
        <i class="pi pi-check-circle" style="font-size: 20px; color: var(--primary-700)"></i>
      </div>
      <div
        style="display: flex; flex-direction: column; justify-content: space-around; height: 60px"
      >
        <div style="font-size: 14px">Enrolled Course</div>
        <div style="font-size: 24px; color: var(--text-color); font-weight: bold">{{summary.enrolledCourse}}</div>
      </div>
    </div>
  </p-card>
  <p-card class="card-content-margin-0 card-1" (click)="selectCard('Pending Course')">
    <div style="display: flex; align-items: center">
      <div style="padding: 15px 15px 15px 0px">
        <i class="pi pi-check-circle" style="font-size: 20px; color: var(--yellow-600)"></i>
      </div>
      <div
        style="display: flex; flex-direction: column; justify-content: space-around; height: 60px"
      >
        <div style="font-size: 14px">Pending Course</div>
        <div style="font-size: 24px; color: var(--text-color); font-weight: bold">{{summary.pendingCourse}}</div>
      </div>
    </div>
  </p-card>
  <p-card class="card-content-margin-0 card-1">
    <div style="display: flex; align-items: center">
      <div style="padding: 15px 15px 15px 0px">
        <i class="pi pi-clock" style="font-size: 20px; color: var(--yellow-600)"></i>
      </div>
      <div
        style="display: flex; flex-direction: column; justify-content: space-around; height: 60px"
      >
        <div style="font-size: 14px">Hours Spent</div>
        <div style="font-size: 24px; color: var(--text-color); font-weight: bold">{{summary.hoursSpent}}</div>
      </div>
    </div>
  </p-card>
  <p-card class="card-content-margin-0 card-1">
    <div style="display: flex; align-items: center">
      <div style="padding: 15px 15px 15px 0px">
        <i class="pi pi-clock" style="font-size: 20px; color: var(--green-600)"></i>
      </div>
      <div
        style="display: flex; flex-direction: column; justify-content: space-around; height: 60px"
      >
        <div style="font-size: 14px">Learning Hours Achieved</div>
        <div style="font-size: 24px; color: var(--text-color); font-weight: bold">{{summary.hoursArchived}}</div>
      </div>
    </div>
  </p-card>
  <p-card class="card-content-margin-0 card-1">
    <div style="display: flex; align-items: center">
      <div style="padding: 15px 15px 15px 0px">
        <i class="pi pi-heart" style="font-size: 20px; color: var(--red-600)"></i>
      </div>
      <div
        style="display: flex; flex-direction: column; justify-content: space-around; height: 60px"
      >
        <div style="font-size: 14px">Liked Course</div>
        <div style="font-size: 24px; color: var(--text-color); font-weight: bold">{{summary.likedCourses}}</div>
      </div>
    </div>
  </p-card>
</div>

<div style="margin: 20px 32px">
  <div style="display: flex; flex-wrap: wrap;">
    <div style="width: 50%; padding: 20px">
      <p-card header="Enrolled">
        @for(item of enrolledCourse; track item) {
        <div style="margin: 20px">
          <div style="font-size: 16px; font-weight: bold; margin: 10px;     display: flex
          ;
              justify-content: space-between;
              align-content: center;
              align-items: center;
          ">
           <div> {{ item.trainingName }}</div>
           <div>
            <p-button class="same-button-width" severity="Primary"  label="Start"   size="small" (click)="start(item)"/>
           </div>
          </div>
          <div>
            <p-progressBar [value]="item.progress" color="var(red-300)" [style]="{ height: '6px', color: 'var(red-400)' }">
              <ng-template pTemplate="content" let-value>
                <span></span>
              </ng-template>
            </p-progressBar>
          </div>
        </div>
        } @empty {
          <div style="text-align: center">No data available</div>
        }
      </p-card>
    </div>
    <div style="width: 50%; padding: 20px">
      <p-card header="Pending">
        @for(item of pendingCourse; track item) {
        <div style="margin: 20px">
          <div style="font-size: 16px; font-weight: bold; margin: 10px;     display: flex
          ;
              justify-content: space-between;
              align-content: center;
              align-items: center;
          ">
           <div> {{ item.trainingName }}</div>
           <div>
           
            <p-button class="same-button-width" severity="warning"  label="Continue"   size="small"/>
           </div>
          </div>
          <div style="position: relative">
            <span style="font-size: 14px;
            margin-right: 15px;
            font-weight: normal;
            position: absolute;
            top: -35px;
            right: 150px;"> {{item.progress / 100}}%</span>
            <p-progressBar [value]="item.progress" color="red" [style]="{ height: '6px', color: 'red' }">
              <ng-template pTemplate="content" let-value>
                <span></span>
              </ng-template>
            </p-progressBar>
          </div>
        </div>
        }@empty {
          <div style="text-align: center">No data available</div>
        }
      </p-card>
    </div>
    <div style="width: 50%; padding: 20px">
      <p-card header="Completed">
        @for(item of completedCourse; track item) {
        <div style="margin: 20px">
          <div style="font-size: 16px; font-weight: bold; margin: 10px;     display: flex
          ;
              justify-content: space-between;
              align-content: center;
              align-items: center;
          ">
           <div> {{ item.trainingName }}</div>
           <div>
            <p-button class="same-button-width" severity="success"  label="View Certificate"   size="small"/>
           </div>
          </div>
          <div>
            <p-progressBar [value]="item.progress" color="green" [style]="{ height: '6px', color: 'red' }">
              <ng-template pTemplate="content" let-value>
                <span></span>
              </ng-template>
            </p-progressBar>
          </div>
        </div>
        }@empty {
          <div style="text-align: center">No data available</div>
        }
      </p-card>
    </div>
    <div style="width: 50%; padding: 20px">
      <p-card header="Liked">
        @for(item of likedCourse; track item) {
        <div style="margin: 20px">
          <div style="font-size: 16px; font-weight: bold; margin: 10px;     display: flex
          ;
              justify-content: space-between;
              align-content: center;
              align-items: center;
          ">
           <div> {{ item.trainingName }}</div>
           <div>
            <p-button class="same-button-width" severity="primary"  label="View Course"   size="small"/>
           </div>
          </div>
          
        </div>
        }@empty {
          <div style="text-align: center">No data available</div>
        }
      </p-card>
    </div>
  </div>
</div>

<div *ngIf="false">
  <div style="font-size: 20px; margin-bottom: 10px; margin-left: 50px; margin-top: 20px">
    Completed Course
  </div>

  <p-carousel
    [value]="products"
    [numVisible]="5"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div
        class="catalog card"
        style="
          margin: 0px 10px 10px;
          padding: 20px 25px;
          height: 275px;
          display: flex;
          flex-direction: column;
          background: #fff;
          width: 240px;
        "
      >
        <div
          style="font-size: 14px; display: flex; justify-content: space-between; margin-top: 5px"
        >
          <div
            style="
              font-weight: 400;
              font-weight: 400;
              background: #dbeafe;
              color: #1e40af;
              border-radius: 5px;
              padding: 0px 10px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
            "
          >
            {{ product['category'] }}
          </div>
          <div>
            <div style="font-size: 12px; display: flex">
              <i class="pi pi-star-fill" style="font-size: 12px; color: #c4710d"></i>
              <span style="margin-left: 4px; color: #28313f">4.8</span>
            </div>
          </div>
        </div>
        <div style="font-weight: 500; font-size: 18px; margin-top: 10px">
          {{ product['trainingName'] }}
        </div>
        <i class="fa fa-light fa-chevron-down"></i>
        <!-- <div style="font-size: 14px; font-weight: 400; opacity: 0.7; margin-top: 5px; height: 45px">{{product['description']}}</div> -->
        <div style="font-size: 12px; font-weight: 400; opacity: 0.7; margin-top: 5px">
          <i class="pi pi-crown" style="font-size: 10px"></i>
          <span style="margin-left: 5px">{{ product['instructorName'] }}</span>
        </div>

        <div style="margin-top: 10px">
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Duration</div>
            <div style="font-weight: 400">{{ product['duration'] }}</div>
          </div>
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Level</div>
            <div style="font-weight: 400">{{ product['level'] }}</div>
          </div>
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Modules</div>
            <div style="font-weight: 400">{{ product['details'].length }}</div>
          </div>
        </div>
        <div class="actions" style="margin-top: auto">
          <button
            pButton
            pRipple
            label="View Course"
            style="width: 100%"
            class="p-button-primary"
            (click)="viewCourse()"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div style="font-size: 20px; margin-bottom: 10px; margin-left: 50px; margin-top: 20px">
    Enrolled Course
  </div>

  <p-carousel
    [value]="products"
    [numVisible]="5"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div
        class="catalog card"
        style="
          margin: 0px 10px 10px;
          padding: 20px 25px;
          height: 275px;
          display: flex;
          flex-direction: column;
          background: #fff;
          width: 240px;
        "
      >
        <div
          style="font-size: 14px; display: flex; justify-content: space-between; margin-top: 5px"
        >
          <div
            style="
              font-weight: 400;
              font-weight: 400;
              background: #dbeafe;
              color: #1e40af;
              border-radius: 5px;
              padding: 0px 10px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
            "
          >
            {{ product['category'] }}
          </div>
          <div>
            <div style="font-size: 12px; display: flex">
              <i class="pi pi-star-fill" style="font-size: 12px; color: #c4710d"></i>
              <span style="margin-left: 4px; color: #28313f">4.8</span>
            </div>
          </div>
        </div>
        <div style="font-weight: 500; font-size: 18px; margin-top: 10px">
          {{ product['trainingName'] }}
        </div>
        <i class="fa fa-light fa-chevron-down"></i>
        <!-- <div style="font-size: 14px; font-weight: 400; opacity: 0.7; margin-top: 5px; height: 45px">{{product['description']}}</div> -->
        <div style="font-size: 12px; font-weight: 400; opacity: 0.7; margin-top: 5px">
          <i class="pi pi-crown" style="font-size: 10px"></i>
          <span style="margin-left: 5px">{{ product['instructorName'] }}</span>
        </div>

        <div style="margin-top: 10px">
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Duration</div>
            <div style="font-weight: 400">{{ product['duration'] }}</div>
          </div>
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Level</div>
            <div style="font-weight: 400">{{ product['level'] }}</div>
          </div>
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Modules</div>
            <div style="font-weight: 400">{{ product['details'].length }}</div>
          </div>
        </div>
        <div class="actions" style="margin-top: auto">
          <button
            pButton
            pRipple
            label="View Course"
            style="width: 100%"
            class="p-button-primary"
            (click)="viewCourse()"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div style="font-size: 20px; margin-bottom: 10px; margin-left: 50px; margin-top: 20px">
    Pending Course
  </div>

  <p-carousel
    [value]="products"
    [numVisible]="5"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div
        class="catalog card"
        style="
          margin: 0px 10px 10px;
          padding: 20px 25px;
          height: 275px;
          display: flex;
          flex-direction: column;
          background: #fff;
          width: 240px;
        "
      >
        <div
          style="font-size: 14px; display: flex; justify-content: space-between; margin-top: 5px"
        >
          <div
            style="
              font-weight: 400;
              font-weight: 400;
              background: #dbeafe;
              color: #1e40af;
              border-radius: 5px;
              padding: 0px 10px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
            "
          >
            {{ product['category'] }}
          </div>
          <div>
            <div style="font-size: 12px; display: flex">
              <i class="pi pi-star-fill" style="font-size: 12px; color: #c4710d"></i>
              <span style="margin-left: 4px; color: #28313f">4.8</span>
            </div>
          </div>
        </div>
        <div style="font-weight: 500; font-size: 18px; margin-top: 10px">
          {{ product['trainingName'] }}
        </div>
        <i class="fa fa-light fa-chevron-down"></i>
        <!-- <div style="font-size: 14px; font-weight: 400; opacity: 0.7; margin-top: 5px; height: 45px">{{product['description']}}</div> -->
        <div style="font-size: 12px; font-weight: 400; opacity: 0.7; margin-top: 5px">
          <i class="pi pi-crown" style="font-size: 10px"></i>
          <span style="margin-left: 5px">{{ product['instructorName'] }}</span>
        </div>

        <div style="margin-top: 10px">
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Duration</div>
            <div style="font-weight: 400">{{ product['duration'] }}</div>
          </div>
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Level</div>
            <div style="font-weight: 400">{{ product['level'] }}</div>
          </div>
          <div
            style="font-size: 13px; display: flex; justify-content: space-between; margin-top: 5px"
          >
            <div style="opacity: 0.85">Modules</div>
            <div style="font-weight: 400">{{ product['details'].length }}</div>
          </div>
        </div>
        <div class="actions" style="margin-top: auto">
          <button
            pButton
            pRipple
            label="View Course"
            style="width: 100%"
            class="p-button-primary"
            (click)="viewCourse()"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
