<div style="margin-top: 20px">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Issue</th>
                <th>Department</th>
                <th>Email Address</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>Access</td>
                <td>L & D Department</td>
                <td>learning&#64;irissoftware.com</td>
            </tr>
        </ng-template>
    </p-table>
</div>